name: CI  # For unit tests and build

on:
  push:
    branches:
      - '**'

env:
  USE_PYTHON_VERSION: "3.11"

jobs:
  # Build meridian "core" and "mmm-proto-schema" distributions.
  build-distributions:
    name: Build distributions
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Build meridian core distribution
        uses: ./.github/actions/build
        with:
          python_version: ${{ env.USE_PYTHON_VERSION }}
          artifact_name: meridian-core-package-distribution
      - name: Build mmm-proto-schema distribution
        uses: ./.github/actions/build
        with:
          python_version: ${{ env.USE_PYTHON_VERSION }}
          working_directory: ./proto
          output_path: ./proto/dist
          artifact_name: mmm-proto-package-distribution

  # Include for sanity checking that version increment parsing and checking logic works.
  check-version:
    name: Version check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - id: version_check
        uses: ./.github/actions/version-check
        with:
          python_version: ${{ env.USE_PYTHON_VERSION }}

  pytest:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      max-parallel: 3
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-version }}
      cancel-in-progress: true
    name: pytest (python-${{ matrix.python-version }})
    steps:
      - uses: actions/checkout@v4
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
      - uses: ./.github/actions/install-meridian
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
        with:
          python_version: ${{ matrix.python-version }}
      # Run tests (in parallel)
      - name: Run core tests
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
        run: pytest -vv -n auto --ignore=schema

  pytest-schema:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    name: pytest-schema
    steps:
      - uses: actions/checkout@v4
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
      - uses: actions/setup-python@v5
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: '**/pyproject.toml'
      - name: Install proto dependencies and test tools
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
        run: |
          pip install semver
          pip install -e proto --config-settings editable_mode=strict
          pip install -e . --config-settings editable_mode=strict
          pip install pytest pytest-xdist
      - name: Run schema tests
        if: ${{ !contains(github.event.head_commit.message, '#skip-pytest') }}
        run: pytest -vv -n auto schema
